<a href="https://colab.research.google.com/github/Hrishikesh332/Water-Potability-Prediction/blob/main/Water_Potability_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv("water_potability 2.csv")

In [3]:
df.head()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,0.000000,214.846144,49456.58711,7.897539,NaN,583.448849,7.702328,77.712891,4.928840,0
1,0.227499,152.530111,39028.59934,3.462492,283.693782,443.029232,13.201943,62.322711,3.545741,1
2,0.975578,221.204114,31145.11074,7.615583,333.677843,439.112765,21.145954,NaN,2.533996,0
3,0.989912,133.216942,16922.85390,9.293289,444.375731,322.291191,10.430076,43.578466,5.160604,1
4,1.431782,228.130383,12937.24689,6.214773,319.734136,495.379883,12.033344,61.141119,4.948443,0

In [4]:
df.shape

(3276, 10)

In [5]:
df.describe()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
count,2785.000000,3276.000000,3276.000000,3276.000000,2495.000000,3276.000000,3276.000000,3114.000000,3276.000000,3276.000000
mean,7.080795,196.369496,22014.092526,7.122277,333.775777,426.205111,14.284970,66.396293,3.966786,0.390110
std,1.594320,32.879761,8768.570828,1.583085,41.416840,80.824064,3.308162,16.175008,0.780382,0.487849
min,0.000000,47.432000,320.942611,0.352000,129.000000,181.483754,2.200000,0.738000,1.450000,0.000000
25%,6.093092,176.850538,15666.690300,6.127421,307.699498,365.734414,12.065801,55.844536,3.439711,0.000000
50%,7.036752,196.967627,20927.833605,7.130299,333.073546,421.884968,14.218338,66.622485,3.955028,0.000000
75%,8.062066,216.667456,27332.762125,8.114887,359.950170,481.792305,16.557652,77.337473,4.500320,1.000000
max,14.000000,323.124000,61227.196010,13.127000,481.030642,753.342620,28.300000,124.000000,6.739000,1.000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3276 entries, 0 to 3275
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ph               2785 non-null   float64
 1   Hardness         3276 non-null   float64
 2   Solids           3276 non-null   float64
 3   Chloramines      3276 non-null   float64
 4   Sulfate          2495 non-null   float64
 5   Conductivity     3276 non-null   float64
 6   Organic_carbon   3276 non-null   float64
 7   Trihalomethanes  3114 non-null   float64
 8   Turbidity        3276 non-null   float64
 9   Potability       3276 non-null   int64
dtypes: float64(9), int64(1)
memory usage: 256.1 KB

In [7]:
df.isnull().sum()

ph                 491
Hardness             0
Solids               0
Chloramines          0
Sulfate            781
Conductivity         0
Organic_carbon       0
Trihalomethanes    162
Turbidity            0
Potability           0
dtype: int64

In [8]:
df=df.dropna()

In [54]:
from sklearn.model_selection import train_test_split
X=df.drop('Potability', axis=1)
y=df.Potability
X_train, X_test, y_train, y_test=train_test_split(X, y, test_size=0.2, random_state=21)

In [55]:
from sklearn.preprocessing import StandardScaler
s=StandardScaler()
s.fit(X_train)
X_train=s.transform(X_train)
X_test=s.transform(X_test)

In [56]:
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import precision_score
model1=GradientBoostingClassifier(n_estimators=500, learning_rate=0.04, random_state=1)
model1.fit(X_train, y_train)

pred=model1.predict(X_test)
print("Precision: ", precision_score(y_test, pred))

Precision:  0.6761904761904762

In [57]:
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier(random_state=1)
model.fit(X_train, y_train)
pred1=model.predict(X_test)
print("Precision: ", precision_score(y_test, pred1))

Precision:  0.7628865979381443